Repository joyent/java-manta, pull requests merged in 2020-04, with the labels that each got.

#571 Skipping job dependent tests for MantaV2
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/MantaClient.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/config/ConfigContext.java
  java-manta-it/src/test/java/com/joyent/manta/client/jobs/MantaClientJobIT.java
  java-manta-it/src/test/java/com/joyent/manta/client/jobs/MantaJobBuilderIT.java
Labels: test-bug

#540 Fixes #267
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/MantaClient.java
Labels: enhancement, good first issue

#535 Fixes #534
  CHANGELOG.md
  java-manta-it/src/test/java/com/joyent/manta/client/MantaClientSigningIT.java
Labels: test-bug

#567 MANTA-5040 Dependency upgrade for java-client
  checkstyle.xml
  java-manta-cli/pom.xml
  java-manta-client-kryo-serialization/pom.xml
  java-manta-client-unshaded/pom.xml
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/MantaClient.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/crypto/EncryptingEntity.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/crypto/EncryptionContext.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/crypto/LocallyIllegalAesCipherDetails.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/crypto/SupportedHmacsLookupMap.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/client/jobs/MantaJobPhase.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/http/MantaHttpHeaders.java
  java-manta-client-unshaded/src/main/java/com/joyent/manta/http/MantaSSLConnectionSocketFactory.java
  java-manta-examples/pom.xml
  java-manta-it/pom.xml
  pom.xml
Labels: dependencies, enhancement, good first issue
